
  * {
    box-sizing: border-box;
  }

  body {
    color: rgba(0, 0, 0, 0.699);
    background-color: rgb(75, 75, 75);
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  h1, h2, h3, h4 {
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
  }

  header {
    background-color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 75%;
  }

  header p {
    font-size: 20px;
  }

  header h1 {
    font-size: 75px;
    margin-bottom: 0;
  }

  header h4 {
    color: rgb(150, 0, 0);
    font-size: 24px;
    margin-top: 2%;
  }

  nav {
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.699);
    background-color: white;
    padding-right: 12%;
    padding-left: 12%;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    width: 75%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  nav a {
    font-size: 16px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  a {
    width: 25%;
  }

  nav a:hover {
    cursor: pointer;
    background-color: rgb(150, 0, 0);
    color: white;
  }

  section h2 {
    font-size: 40px;
    text-align: center;
    background-color: rgb(150, 0, 0);
    color: white;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
  }

  #bio {
    display: flex;
    justify-content: center;
    background-image: url("https://previews.123rf.com/images/lenikovaleva/lenikovaleva1408/lenikovaleva140800015/30681592-trunks-birch-trees-black-and-white.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    min-height: 550px;
    width: 75%;
  }

  #bio p {
    background-color: white;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    width: 45%;
  }

  #projects {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 8%;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
  }

  #projects hr {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
  }

  .project-item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    width: 95%;
    height: 450px;
  }
  
  .project-description h3 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  .project-description {
    float: right;
    margin-bottom: 0;
    width: 50%;
  }

  .project-description-text {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 2%;
    margin-right: 0;
    margin-left: 0;
    width: 95%;
  }

  .project-description-text p {
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  .project-repo-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .project-repo-link img {
    width: 48px;
    height: 48px;
  }

  .image-container {
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 0;
    width: 95%;
  }

  .image-container img {
    position: absolute;
    width: 33%;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }

  .technologies-icons {
    margin-left: 0;
    padding-top: 4px;
    padding-left: 5%;
    padding-right: 5%;
    height: 40px;
    width: 100%;
  }

  .top-image:hover {
    opacity: 0;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/355747/pexels-photo-355747.jpeg?auto=compress&cs=tinysrgb&h=2976&w=5472");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    min-height: 450px;
    width: 75%;
  }

  .contact-info {
    background-color: white;
    font-size: 18px;
    line-height: 1.35;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 55%;
  }

  .contact-info img {
    margin-top: 3%;
    margin-right: 3%;
  }

  .contact-info h3 {
    font-size: 24px;
  }

  footer {
    font-size: 16px;
    text-align: center;
    color: white;
  }
